# **Pandas Day 01**

In [ ]:
import pandas as pd

# Read data
pk_population = pd.read_excel("./pakPopulation.xlsx")

pd.__version__

In [48]:
# Write the file
pk_population.to_csv("pakPopulation.csv")

In [ ]:
# Read sheet one
pk_population = pd.read_excel("./pakPopulation.xlsx",sheet_name="Sheet1")

# ***Pandas Tips***

In [ ]:
pk_population.info()

In [ ]:
pk_population.dtypes

In [57]:
pk_population.head()

,Year,Urban population,Rural population,"Population, female","Population, male (% of total population)","Population, total",Population growth (annual %),"Birth rate, crude (per 1,000 people)","Mortality rate, infant (per 1,000 live births)",GDP (current US$),"Inflation, GDP deflator (annual %)",GNI (current US$),Gross national expenditure (current US$),"Total reserves (includes gold, current US$)","Services, value added (current US$)",Merchandise exports (current US$),Merchandise imports (current US$),Military expenditure (current USD),Adjusted savings: education expenditure (current US$),Food production index (2014-2016 = 100)
0,1960,10157722,35796504,21159049,53.956252,45954226,NaN,45.749,184.9,3.749265e+09,NaN,3.743806e+09,3.975850e+09,327400600.0,1.367703e+09,400000000,827000000,2.088452e+08,NaN,NaN
1,1961,10589176,36471739,21697194,53.895512,47060915,2.379701,45.760,178.7,4.118648e+09,3.646461,4.113188e+09,4.439941e+09,261302470.0,1.489920e+09,424000000,594000000,2.101052e+08,NaN,14.19
2,1962,10957300,37204541,22231652,53.839696,48161841,2.312420,45.647,172.9,4.310164e+09,0.159948,4.304914e+09,4.641747e+09,269316859.0,1.577068e+09,407000000,834000000,2.003402e+08,NaN,14.94
3,1963,11345748,37979302,22798530,53.779001,49325050,2.386504,45.503,167.4,4.630827e+09,-1.149266,4.618647e+09,4.984460e+09,307832196.0,1.665477e+09,407000000,985000000,2.196602e+08,NaN,15.50
4,1964,11756511,38796081,23398883,53.713782,50552592,2.458215,45.298,162.5,5.204956e+09,4.488446,5.191096e+09,5.604788e+09,254226648.0,1.848173e+09,469000000,1070000000,2.578803e+08,NaN,15.92

In [58]:
pk_population.tail()

,Year,Urban population,Rural population,"Population, female","Population, male (% of total population)","Population, total",Population growth (annual %),"Birth rate, crude (per 1,000 people)","Mortality rate, infant (per 1,000 live births)",GDP (current US$),"Inflation, GDP deflator (annual %)",GNI (current US$),Gross national expenditure (current US$),"Total reserves (includes gold, current US$)","Services, value added (current US$)",Merchandise exports (current US$),Merchandise imports (current US$),Military expenditure (current USD),Adjusted savings: education expenditure (current US$),Food production index (2014-2016 = 100)
58,2018,80566744,139164735,108293156,50.715684,219731479,1.537172,28.594,57.4,3.561282e+11,3.841787,3.506912e+11,3.933879e+11,1.183718e+10,1.885069e+11,23425000000,60078000000,1.173213e+10,6.264509e+09,107.09
59,2019,82410851,140882429,110278237,50.612827,223293280,1.607981,28.276,55.9,3.209095e+11,9.036335,3.152995e+11,3.533979e+11,1.658605e+10,1.720732e+11,23329000000,50332000000,1.038832e+10,5.534663e+09,113.59
60,2020,84437669,142759072,112381099,50.535778,227196741,1.733028,27.967,54.4,3.004256e+11,9.944498,2.949666e+11,3.248176e+11,1.852173e+10,1.612693e+11,21979000000,45837000000,1.039450e+10,5.210287e+09,119.78
61,2021,86636953,144765164,114586264,50.481756,231402117,1.834062,27.519,52.8,3.482625e+11,10.214677,3.438625e+11,3.793754e+11,2.281152e+10,1.814789e+11,28319000000,72489000000,1.130483e+10,NaN,126.52
62,2022,88979079,146845783,116863982,50.444588,235824862,1.893246,NaN,NaN,3.765328e+11,12.999003,3.712368e+11,4.193995e+11,9.926587e+09,1.940845e+11,30936000000,71072000000,NaN,NaN,NaN

In [59]:
pk_population.describe()

,Year,Urban population,Rural population,"Population, female","Population, male (% of total population)","Population, total",Population growth (annual %),"Birth rate, crude (per 1,000 people)","Mortality rate, infant (per 1,000 live births)",GDP (current US$),"Inflation, GDP deflator (annual %)",GNI (current US$),Gross national expenditure (current US$),"Total reserves (includes gold, current US$)","Services, value added (current US$)",Merchandise exports (current US$),Merchandise imports (current US$),Military expenditure (current USD),Adjusted savings: education expenditure (current US$),Food production index (2014-2016 = 100)
count,63.000000,6.300000e+01,6.300000e+01,6.300000e+01,63.000000,6.300000e+01,62.000000,62.000000,62.000000,6.300000e+01,62.000000,6.300000e+01,6.300000e+01,6.300000e+01,6.300000e+01,6.300000e+01,6.300000e+01,6.200000e+01,5.100000e+01,61.000000
mean,1991.000000,4.120254e+07,8.547512e+07,6.118622e+07,52.117862,1.266777e+08,2.637812,38.954677,106.654839,9.450606e+10,8.872951,9.276464e+10,1.012023e+11,5.622099e+09,4.802369e+10,9.228365e+09,1.711746e+10,3.534599e+09,1.813025e+09,51.268852
std,18.330303,2.453178e+07,3.616693e+07,3.021809e+07,0.942287,6.064229e+07,0.711061,6.036279,35.279055,1.095418e+11,6.356922,1.078295e+11,1.193911e+11,6.847324e+09,5.838517e+10,9.147022e+09,1.998751e+10,3.268008e+09,1.803637e+09,31.311540
min,1960.000000,1.015772e+07,3.579650e+07,2.115905e+07,50.444588,4.595423e+07,1.204056,27.519000,52.800000,3.749265e+09,-1.149266,3.743806e+09,3.975850e+09,1.654861e+08,1.367703e+09,2.920000e+08,5.330000e+08,2.003402e+08,8.196219e+07,14.190000
25%,1975.500000,1.834182e+07,5.083714e+07,3.261438e+07,51.543762,6.917896e+07,2.181514,32.658500,75.825000,1.219934e+10,4.551372,1.207959e+10,1.320919e+10,6.863213e+08,5.113434e+09,1.189500e+09,2.262000e+09,7.866667e+08,3.813717e+08,24.620000
50%,1991.000000,3.674569e+07,8.245788e+07,5.743568e+07,51.817152,1.192036e+08,2.648345,42.736000,105.950000,4.562534e+10,7.889703,4.445652e+10,4.630842e+10,1.610426e+09,1.972408e+10,6.528000e+09,8.439000e+09,2.826074e+09,1.392088e+09,42.810000
75%,2006.500000,6.171491e+07,1.182823e+08,8.722018e+07,52.855602,1.799973e+08,3.087948,44.119750,131.800000,1.448249e+11,10.433669,1.417004e+11,1.549123e+11,1.091376e+10,7.632395e+10,1.722650e+10,3.074650e+10,4.873678e+09,2.736650e+09,69.890000
max,2022.000000,8.897908e+07,1.468458e+08,1.168640e+08,53.956252,2.358249e+08,4.423125,45.760000,184.900000,3.765328e+11,38.511986,3.712368e+11,4.193995e+11,2.281152e+10,1.940845e+11,3.093600e+10,7.248900e+10,1.173213e+10,6.264509e+09,126.520000

In [69]:
# pk_population.max(axis=1)
max_contributors = pk_population.loc[pk_population.idxmax()]
print(max_contributors)

<pandas.core.indexing._LocIndexer object at 0x1089a1950>